@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

/*test*/
.border{
  border: 1px solid red;
}

/*Color*/
.color-primary
{
  color:hsl(31, 77%, 52%);
}
.bg-color-primary
{
  background-color: hsl(31, 77%, 52%);
}
.color-secondary
{
  color: hsl(184, 100%, 22%);
}
.bg-color-secondary
{
  background-color: hsl(184, 100%, 22%);
}
.color-tertiairy
{
  color: hsl(179, 100%, 13%);
}
.bg-color-tertiairy
{
  background-color: hsl(179, 100%, 13%);
}
.paragrph-line
{
  color: hsla(0, 0%, 100%, 0.75);
}
.color-very-light-gray
{
    color: hsl(0, 0%, 95%);
}
.bg-color-very-light-gray
{
    background-color: hsl(0, 0%, 95%);
}
.bg-white
{
  background-color: hsl(0, 0%, 100%);
}
.white
{
  color: hsl(0, 0%, 100%);
}


/*Font*/
.font-lexend 
{
  font-family: 'Lexend Deca', Courier, monospace;
}
.font-big-shoulders 
{
  font-family: 'Big Shoulders Display', Courier, monospace;
}

/*size*/
.size15
{
  font-size: 15px;
}


/*display*/
.flex
{
  display: flex;
}
.flex-between
{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.flex-column
{
  display: flex;
  flex-direction: column;
}
.flex-column-center
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
}
.flex-column-between
{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

* 
{
  margin: 0;
  padding: 0;
  gap:20px;
}
  
main 
{
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
}